#spacer {
    height: 280px;
    width: 1000px;
    margin: 0 auto;
    padding: 80px 10px
}
#champ_header {
    padding: 20px 20px;
    text-shadow: 1px 1px 1px black;
    background-size: 120px 120px;
    background-repeat: no-repeat
}
#champ_header h1, #champ_header h2, #champ_header h3 {
    color: #fff
}
.content-border>iframe {
    vertical-align: bottom
}
.faction-small {
    background-size: 25px 25px;
    background-repeat: no-repeat
}
.stat-label {
    display: block;
    padding-left: 30px
}
.stat-value {
    display: block;
    padding-left: 30px
}
.stat-ad {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 0
}
.stat-armor {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -25px
}
.stat-as {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -50px
}
.stat-ms {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -75px
}
.stat-mr {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -125px
}
.stat-hp {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -150px
}
.stat-hp-regen {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -175px
}
.stat-mana {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -200px
}
.stat-m-regen {
    background: url("resources/images/stat-icons-sprite.png") no-repeat 0 -225px
}
#recommended {
    margin-top: 20px
}
.recommended_banner_header {
    line-height: 160px;
    text-align: right;
    margin: auto 60px
}
.dropdown-menu {
    width: 165px
}
.colorFF8C00, .colorF88017 {
    color: #ff8c00
}
.color99FF99, .color88FF88 {
    color: #1ec91a
}
.colorFFFF00 {
    color: #baab07
}
.color5555FF {
    color: #55f
}
.colorFF9900 {
    color: #e18200
}
.colorFF3300, .colorCC3300 {
    color: #c30
}
.colorFFD700 {
    color: #baab07
}
.colorFF0000 {
    color: #f00
}
.color0000FF {
    color: #00f
}
.colorFFDD77 {
    color: #e18200
}
.colorFFFF99 {
    color: #e18200
}