.middle-bg {
    height: 40%;
}
.page-title {
    background-image: none;
}
/*.header {
  background-image: url("http://cdn.leagueoflegends.com/lolkit/1.1.5/resources/images/header-bg.png");
}*/
/*#scrolling .fg-bot-left {
    display: none;
}
#scrolling .fg-bot-right {
    display: none;
}*/